/* Navbar & Introduction Section */
body {
  margin: 0;
  background-image: linear-gradient(to bottom right, #e7f1eb, #f1f0cf);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

.navbar {
  background-color: #f07bbb;
  color: #EAF6F6;
}

.navbar-brand img {
  margin-right: 5px;
}

.top-container {
  background-image: url(images/cakes-chocolate.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-top-container {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

h1 {
  color: #f07bbb;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
}

h2 {
  color: #ff96bc;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

a {
  color: #f07bbb;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

/* First middle grid (Shopping Category) */
.first-middle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #fbb3cd, #e7f1eb);
}

.product {
  align-items: center;
  text-align: center;
  width: calc(90% / 3);
  max-width: 300px;
  margin: 10px;
  border: 2px solid #40514E;
  border-radius: 3px;
  background-color: #e7f1eb;
}

.shop-images {
  width: 100%;
}

h4 {
  font-size: 2rem;
  margin: 10px auto;
}

.prices {
  list-style-type: none;
  padding: 0;
  line-height: 1.75rem;
}

.middle-grid {
  display: flex;
  width: 80%;
  margin: 8% auto 8% auto;
}

.first-middle-flex {
  justify-content: center;
}

/* Second middle grid (Youtube and Email Form) */
h3 {
  color: #f07bbb;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.coupon {
  display: inline-block;
  margin: auto;
  padding: 15px;
  background-color: #ace4cb;
  width: 90%;
  border: 3px solid #f07bbb;
  border-radius: 5px;
}

.btn {
  border: none;
  padding: 4px;
  background-color: #f07bbb;
}

.border-cupcake {
  border: solid;
  border-radius: 100%;
  border-width: 10px;
  border-color: #ff96bc;
  height: 8em;
  width: auto;
  margin-bottom: 20px;
  display: inline-block;
}

.circular:hover {
  border: solid;
  border-radius: 100%;
  border-width: 10px;
  border-color: #ace4cb;
}

/* Bottom Container - Contact Section */
.bottom-container {
  background-color: #ace4cb;
  padding: 50px 0 20px;
  clear: both;
}

.footer-link {
  color: #f362b1;
}

.copyright a {
  font-size: 0.80rem;
  padding: 20px 0;
}

.copyright {
  font-size: 0.80rem;
  padding: 20px 0;
}

/* GENERAL */
.candy-border {
  background-image: url(images/sprinkles.jpg);
  height: 60px;
  opacity: 0.75;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
