body {
  margin: 0;
  background-color: #f1f0cf;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

.navbar {
  background-color: #f07bbb;
  color: #EAF6F6;
}

.navbar-brand img {
  margin-right: 5px;
}

.top-container {
  background-image: url(images/cakes-chocolate.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.text-top-container {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

h1 {
  color: #f07bbb;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
}

h2 {
  color: #ff96bc;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

a {
  color: #f07bbb;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
